<%= form_for @user, :url => admin_edit_user_path(@user.username) do |f| %>

  <div class="row">
    <label class="col-sm-3 form-control-label">Update User</label>
    <div class="col-sm-9">

      <div class="field">
        <div class="input-field col s12">
          <%= f.text_field :first_name, id:"register-first-name", class: "input-material" %>
          <label for="register-first-name" class="label-material">First Name</label>
        </div>
      </div>
      
      <div class="field">
        <div class="input-field col s12">
          <%= f.text_field :last_name, id:"register-last-name", class: "input-material" %>
          <label for="register-last-name" class="label-material">Last Name</label>
        </div>
      </div>
      
      <!-- Need Role List -->
      <div class="field">
        <div class="input-field col s12">
          <%= select_tag :role, options_for_select(User::ROLES_LIST, @user.highestRole), id:"select_role", prompt: "Select a Role..." %>
          <label for="select_role" class="label-material">Role</label>
        </div>
      </div>

      <div class="actions">
        <div class="row">
          <div class="col-sm-4">
            <%= f.submit "Update", class:"btn btn-primary" %>
          </div>
          <div class="col-sm-4">
            <% if @user.active %>
              <%= render partial: "partials/forms/modal-form", locals: {title: "Delete User", form: "delete/delete-user"} %>
            <% else %>
              <%= render partial: "partials/forms/modal-form", locals: {title: "Reactivate", form: "activate/activate-user"} %>
            <% end %>
          </div>
          <div class="col-sm-4">
            <%= link_to "Back", user_path(@user.username), class:"btn btn-secondary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
