<%= form_for(observation) do |f| %>
  <% if observation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(observation.errors.count, "error") %> prohibited this observation from being saved:</h2>

      <ul>
      <% observation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <%= f.hidden_field :classroom_id, :value => @classroom.id %>

  <% if action_name == 'new' %>
    <% if current_user.has_role? :specialist %>
      <%= f.hidden_field :specialist_id, :value => current_user.id %>
    <% else %>
      <%= f.hidden_field :principal_id, :value => current_user.id %>
    <% end %>
    <div class="field">
      <%= f.label :observation_date %>
      <%= f.text_field :observation_date, id:'date', class:'datepicker', placeholder:"Click to select a date" %>
    </div>
  <% end %>

 

  <% if action_name == 'edit' %>
    <% if can? :manage, @observation %>
      <div class="field">
        <%= f.label :observation_date %>
        <%= f.text_field :observation_date, id:'date', class:'datepicker', placeholder:"Click to select a date" %>
      </div>
    <% end %>
    <div class="field">
      <div class="form-group-material">
        <div class="input-field col s12">
          <%= f.text_area :principal_comments, id:'p_comments', class:'materialize-textarea' %>
          <%= f.label :principal_comments, for:'p_comments' %> 
        </div>
      </div>
    </div>
  <% end %>

  <div class="modal-footer">
    <% if action_name == 'edit' %>
      <%= f.submit 'Edit', id:'submit', class: 'btn btn-primary' %>
    <% else %>
      <%= f.submit 'Start Observation', id:'submit', class: 'btn btn-primary' %>
    <% end %>
  </div>
<% end %>

<script>
  
  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15, // Creates a dropdown of 15 years to control year,
    today: 'Today',
    clear: 'Clear',
    close: 'Ok',
    closeOnSelect: false // Close upon selecting a date,
  });
  
  
</script>
