<!-- Teacher Name -->
<% if params[:teacher_search].blank? %>
  <%= text_field_tag :teacher_search, params[:teacher_search], placeholder: "Name..." %>
<% else %>
  <%= text_field_tag :teacher_search, params[:teacher_search], placeholder: params[:teacher_search] %>
<% end %>

<!-- School Year -->
<% if params[:for_school_year].nil? || !Observation.valid_date(params[:for_school_year]) %>
  <%= select_tag :for_school_year, options_for_select(@year_list), id:"select_year", prompt: "Years..." %>
<% else %>
  <%= select_tag :for_school_year, options_for_select(@year_list, params[:for_school_year]), id:"select_year", prompt: "Years..." %>
<% end %>

<% if !current_user.has_role? :principal %>
  <!-- School -->
  <% if params[:for_school].nil? %>
    <%= select_tag :for_school, options_from_collection_for_select(@schools, 'id', 'name'), id:"select_school", prompt: "Schools..." %>
  <% else %>
    <%= select_tag :for_school, options_from_collection_for_select(@schools, 'id', 'name', params[:for_school]), id:"select_school", prompt: "Schools..." %>
  <% end %>
<% end %>

<!-- Grade -->
<% if params[:for_grade].nil? %>
  <%= select_tag :for_grade, options_for_select(Classroom::GRADES_LIST), id:"select_grade", prompt: "Grades..." %>
<% else %>
  <%= select_tag :for_grade, options_for_select(Classroom::GRADES_LIST, params[:for_grade]), id:"select_grade", prompt: "Grades..." %>
<% end %>

<!-- Content Area -->
<% if params[:for_content_area].nil? %>
  <%= select_tag :for_content_area, options_for_select(Classroom::CONTENT_AREAS_LIST), id:"select_content_area", prompt: "Subjects..." %>
<% else %>
  <%= select_tag :for_content_area, options_for_select(Classroom::CONTENT_AREAS_LIST, params[:for_content_area]), id:"select_content_area", prompt: "Subjects..." %>
<% end %>

<% if current_user.has_any_role?(:specialist, :principal) %>
  <!-- Principal -->
  <div class="field">
    <div class="form-group-material">
      <div class="i-checks">
        <% if params[:my_observations].nil? %>
          <%= check_box_tag :my_observations, "My Observations", false, class:"checkbox-template" %>
        <% else %>
          <%= check_box_tag :my_observations, "My Observations", params[:my_observations], class:"checkbox-template" %>
        <% end %>
        <label for="my_observations" class="label-material">My Observations</label>
      </div>
    </div>
  </div>
<% end %>