<p id="notice"><%= notice %></p>

<h1>Observations</h1>
Not sure about keeping you
<table>
  <thead>
    <tr>
      <th>Classroom</th>
      <th>Specialist</th>
      <th>Principal</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @observations.each do |observation| %>
      <tr>
        <td><%= observation.classroom_id %></td>
        <td><%= observation.specialist_id %></td>
        <td><%= observation.principal_id %></td>
        <td><%= observation.comments %></td>
        <td><%= link_to 'Show', observation %></td>
        <td><%= link_to 'Edit', edit_observation_path(observation) %></td>
        <td><%= link_to 'Destroy', observation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Observation', new_observation_path %>
