<!-- Page Header-->
<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Observation of <%= @teacher.name %>'s <%= @classroom.grade %> grade <%= @classroom.content_area %> class</h2>
  </div>
</header>
<%= render "partials/alerts" %>
<%= render "observation-options" %>
