<!-- Signup Form -->
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <div class="form-group">
      <%= f.text_field :first_name, id:"register-first-name", class: "input-material" %>
      <label for="register-first-name" class="label-material">First Name</label>
    </div>
  </div>

  <div class="field">
    <div class="form-group">
      <%= f.text_field :last_name, id:"register-last-name", class: "input-material" %>
      <label for="register-last-name" class="label-material">Last Name</label>
    </div>
  </div>

  <div class="field">
    <div class="form-group">
      <%= f.text_field :username, id:"register-username", class: "input-material" %>
      <label for="register-username" class="label-material">Username</label>
    </div>
  </div>

  <div class="field">
    <div class="form-group">
      <%= f.email_field :email, id:"register-email", class: "input-material" %>
      <label for="register-email" class="label-material">Email</label>
    </div>
  </div>

  <div class="field">
    <div class="form-group">
      <%= f.password_field :password, autocomplete: "off", id:"register-password", class: "input-material" %>
      <label for="register-password" class="label-material">
        Password
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
      </label>
    </div>
  </div>

  <div class="field">
    <div class="form-group">
      <%= f.password_field :password_confirmation, autocomplete: "off", id:"register-confirm", class: "input-material" %>
      <label for="register-confirm" class="label-material">Confirm Password</label>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class:"btn btn-primary" %>
  </div>
<% end %>
