<%= form_for(classroom) do |f| %>
  <% if classroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(classroom.errors.count, "error") %> prohibited this classroom from being saved:</h2>

      <ul>
      <% classroom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :teacher_id, :value => @teacher.id %>


  <div class="field">
    <div class="input-field col s12">
      <%= f.collection_select(:school_id, @schools, :id, :name, prompt:true) %>
      <%= f.label :school_id %>
    </div>
  </div>

  <div class="field">
    <div class="input-field col s12">
      <%= f.collection_select(:grade, Classroom::GRADES_LIST, :to_s, :to_s, prompt:true) %>
      <%= f.label :grade %>
    </div>
  </div>

  <div class="field">
    <div class="input-field col s12">
      <%= f.collection_select(:content_area, Classroom::CONTENT_AREAS_LIST, :to_s, :to_s, prompt:true) %>
      <%= f.label :content_area %>
    </div>
  </div>

  <div class="modal-footer">
    <% if type == 'New' %>
      <%= f.submit 'Create Classroom', class: 'btn btn-primary' %>
      <%= link_to "Back", user_path(@teacher.username), class:'btn btn-secondary' %>
    <% else %>
      <%= f.submit 'Update Classroom', class: 'btn btn-primary' %>
      <% if @classroom.active %>
        <%= render partial: "partials/forms/modal-form", locals: {title: "Deactivate", form: "activate/deactivate-classroom"} %>
      <% else %>
        <%= render partial: "partials/forms/modal-form", locals: {title: "Reactivate", form: "activate/activate-classroom"} %>
      <% end %>
      <%= link_to "Back", classroom_path(@classroom), class:'btn btn-secondary' %>
    <% end %>
  </div>
<% end %>
