<!--
<p id="notice"><%= notice %></p>

<p>
  <strong>Teacher:</strong>
  <%= @classroom.teacher_id %>
</p>

<p>
  <strong>School:</strong>
  <%= @classroom.school_id %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @classroom.grade %>
</p>

<p>
  <strong>Content area:</strong>
  <%= @classroom.content_area %>
</p>

<p>
  <strong>Active:</strong>
  <%= @classroom.active %>
</p>

<%= link_to 'Edit', edit_classroom_path(@classroom) %> |
<%= link_to 'Back', classrooms_path %>
-->
<!-- Page Header-->
<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom"><%= @teacher.name %>'s <%= @classroom.grade %> grade <%= @classroom.content_area %> class</h2>
  </div>
</header>
<%= render "partials/alerts" %>
<section class="tables">   
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header d-flex align-items-center">
            <h3 class="h4">Observations</h3>
          </div>
          <div class="card-body">
            <% if @observations.empty? %>
              <h4>There are currently no available observations for this class.</h4>
            <% else %>
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th>Observation Date</th>
                    <% if can? :manage, Observation %>
                      <th>Completed</th>
                    <% end %>
                  </tr>
                </thead>
                <tbody>
                  <% @observations.each do |observation| %>
                    <tr class='clickable-row' data-href='/observations/<%= observation.id %>'>
                      <td scope="row"><%= observation.observation_date.strftime("%B %d, %Y") %></td>
                      <% if can? :manage, Observation %>
                        <td><%= observation.completed %></td>
                      <% end %>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <% end %>
            
          </div>
          <div class="modal-footer">
            <% if current_user.has_any_role?(:admin, :specialist) %>
              <%= link_to "New Observation", new_observation_path(classroom: @classroom.id), class:'btn btn-primary' %>
            <% end %>
            <%= link_to "Back", user_path(@teacher.username), class:'btn btn-secondary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section></section>
