<!-- Side Navbar -->
<nav class="side-navbar">
  <!-- Sidebar Header-->
  <div class="sidebar-header d-flex align-items-center">
    <div class="avatar"><%= image_tag("test.jpg", :alt => "user", class: "img-fluid rounded-circle") %></div>
    <div class="title">
      <h1 class="h4"><%= current_user.first_name %> <%= current_user.last_name %></h1>
      <!-- Change this? -->
      <p><%= current_user.highestRole %></p>
    </div>
  </div>
  <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
  <ul class="list-unstyled">
    <li class="<%= 'active' if params[:controller] == 'home' %>"> 
      <%= link_to root_path do %>
        <i class="fa fa-home fa-fw"></i>Home
      <% end %>
    </li>
    <%= render "partials/sidebars/#{current_user.highestRole}" %>
    <li><a href="#settings-drop" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-gear fa-fw"></i>Settings </a>
      <ul id="settings-drop" class="collapse list-unstyled">
        <li><a href="/users/<%= current_user.username %>"><i class="fa fa-user fa-fw"></i>My Account</a></li>
        <li>
          <%= link_to edit_user_registration_path do %>
            <i class="fa fa-wrench fa-fw"></i>Edit Account
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out fa-fw"></i>Logout
          <% end %>
        </li>
      </ul>
    </li>
  </ul>
</nav>