<% if !current_user.p_school.nil? %>
  <li class="<%= 'active' if params[:controller] == 'schools' %>">
    <%= link_to school_path(current_user.p_school) do %>
      <i class="fa fa-graduation-cap fa-fw"></i> My School
    <% end %>
  </li>
<% end %>
<li>
  <%= link_to teachers_path do %>
    <i class="fa fa-users fa-fw"></i>Teachers
  <% end %>
</li>
<li class="<%= 'active' if params[:controller] == 'observations' %>">
  <%= link_to observations_path do %>
    <i class="fa fa-eye fa-fw"></i>Observations
  <% end %>
</li>
<li class="<%= 'active' if params[:controller] == 'trainings' %>">
  <%= link_to trainings_path do %>
    <i class="fa fa-calendar fa-fw"></i>My Trainings
  <% end %>
</li>