<p id="notice"><%= notice %></p>

<h1>Training Sessions</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Training</th>
      <th>Is leader</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @training_sessions.each do |training_session| %>
      <tr>
        <td><%= training_session.user_id %></td>
        <td><%= training_session.training_id %></td>
        <td><%= training_session.is_leader %></td>
        <td><%= link_to 'Show', training_session %></td>
        <td><%= link_to 'Edit', edit_training_session_path(training_session) %></td>
        <td><%= link_to 'Destroy', training_session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Training Session', new_training_session_path %>
