<%= form_for(school) do |f| %>
  <% if school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
      <% school.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="form-group-material">
      <%= f.text_field :name, id:'school-name', class:'input-material' %>
      <%= f.label :name, for:'school-name', class:'label-material' %>
    </div>
  </div>

  <div class="field">
    <div class="form-group-material">
      <%= f.text_field :state, id:'school-state', class:'input-material' %>
      <%= f.label :state, for:'school-state', class:'label-material' %>
    </div>
  </div>

  <div class="field">
    <div class="form-group-material">
      <%= f.collection_select(:principal_id, @principals, :id, :name, include_blank:true) %>
      <%= f.label :principal_id, for:'school-state', class:'label-material' %>
    </div>
  </div>

  <div class="field">
    <div class="form-group-material">
      <%= f.label :active %>
      <%= f.check_box :active %>
    </div>
  </div>

  <div class="actions">
    <div class="row">
      <% if type == 'New' %>
        <%= f.submit "Create", class:'btn btn-primary' %>
        <%= link_to 'Back', schools_path, class:'btn btn-secondary' %>
      <% else %>
        <div class="col-2">
          <%= f.submit "Update", class:'btn btn-primary' %>
        </div>
        <div class="col-2">
          <%= link_to 'Back', @school, class:'btn btn-secondary' %>
        </div>
        <%= render partial: "partials/forms/modal-form", locals: {title: "Deactivate", form: "delete/deactivate-school"} %>
      <% end %>
    </div>
  </div>
<% end %>
