<!-- Page Header-->
<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Schools</h2>
  </div>
</header>
<%= render "partials/alerts" %>

<!-- List of Schools -->
<section class="dashboard-counts no-padding-bottom">
  <div class="container-fluid">
    <% if current_user.has_role? :admin %>
      <div class="row bg-gray">
        <div class="container-fluid">
          <h1>Active Schools</h1><br/>
        </div>
      </div>
    <% else %>
      <div class="row bg-gray">
        <div class="container-fluid">
          <h1>All Schools</h1><br/>
        </div>
      </div>
    <% end %>
    <div class="row bg-white has-shadow">
      <% @active_schools.each do |school| %>
        <div class="col-xl-4 col-sm-6">
          <%= link_to school do %>
            <div class="item d-flex align-items-center">
              <div class="title">
                <span><%= school.name %></span>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <% if current_user.has_role? :admin %>
      <% if !@inactive_schools.empty? %>
        <div class="row bg-gray">
          <div class="container-fluid">
            <h1>Inactive Schools</h1><br/>
          </div>
        </div>
        <div class="row bg-white has-shadow">
          <% @inactive_schools.each do |school| %>
            <div class="col-xl-4 col-sm-6">
              <%= link_to school do %>
                <div class="item d-flex align-items-center">
                  <div class="title">
                    <span><%= school.name %></span>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</section>
<section>
  <div class="container-fluid">
    <% if current_user.has_role? :admin %>
      <%= link_to 'New School', new_school_path, class:"btn btn-primary" %>
    <% end %>
  </div>
</section>
