<p id="notice"><%= notice %></p>

<p>
  <strong>Principal:</strong>
  <%= @school.principal_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>State:</strong>
  <%= @school.state %>
</p>

<p>
  <strong>Active:</strong>
  <%= @school.active %>
</p>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
