<!DOCTYPE html>
<html>
  <%= render "partials/head" %>

  <body>
    <div class="page home-page">
      <%= render "partials/navbar" %>
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
    
      <div class="page-content d-flex align-items-stretch">
        <%= render "partials/sidebar" %>
        <div class="content-inner">
          <%= yield %>
          <%= render "partials/footer" %>
        </div>
      </div>
      
    </div>
  </body>
</html>
